<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz para securityinfo</title>
</head>

<h1>Quiz para testar seus conhecimentos</h1>

<body>
    <section>
        <!--pergunta 1-->

        <h2>Pergunta1:Para que serve um antivirus ?</h2>
        <form>

            <input type="radio" value="para otimizar o telefone" id="p1.0" name="pergunta1">
            <label for="p1.0">para otimizar o telefone</label><br>

            <input type="radio" value=" Evitar malwares" id="p1.1" name="pergunta1">
            <label for="p1.1"> Evitar malwares</label><br>

            <input type="radio" value="Evitar perder uma conta" id="p1.2" name="pergunta1">
            <label for="p1.2">Evitar perder uma conta</label><br>

            <input type="radio" value="Agendar vacinação contra virus" id="p1.3" name="pergunta1">
            <label for="p1.3">Agendar vacinação contra virus</label><br>


        </form>
        <section>



            <!--pergunta 2-->
            <section>
                <h2>Pergunta 2.O que é phishing?</h2>

                <form>
                    <input type="radio" value=" Um tipo de jogo online" id="p2.0" name="pergunta1">
                    <label for="p2.0">Um tipo de jogo online</label><br>

                    <input type="radio" value="Um vírus que apaga todos os arquivos" id="2.1" name="pergunta1">
                    <label for="p2.1">Um vírus que apaga todos os arquivos</label><br>

                    <input type="radio" value="Um golpe que tenta enganar a pessoa para roubar dados " id="p2.2"
                        name="pergunta1">
                    <label for="p2.2">Um golpe que tenta enganar a pessoa para roubar dados </label><br>

                    <input type="radio" value="Um programa para acelerar a internet" id="p2.3"
                    name="pergunta1">
                    <label for="p2.3">Um programa para acelerar a internet
                    </label>
                    
                </form>
            </section>

        </section>
        <!--pergunta3-->
        <h2>Pergunta 3:Quais praticas são consideradas maus habitos para segurança virtual :</h2>
        <form>
            <input type="checkbox" value=" Senhas com apenas letras, ou numeros e curtas" id="pla0" name="pergunta1">
            <label for="pla0"> Senhas com apenas letras, ou numeros e curtas</label><br>

            <input type="checkbox" value=" Deixar senhas anotadas  no aperelho" id="pla1" name="pergunta1">
            <label for="pla1"> Deixar senhas anotadas no aperelho</label><br>

            <input type="checkbox" value=".Usar senhas com , letras , numeros e simbolos com mais de 10  caracteres"
                id="pla2" name="pergunta1">
            <label for="pla2">Usar senhas com , letras , numeros e simbolos com mais de 10 caracteres</label>
            </label><br>

            <input type="checkbox" value="*Não verificar se o site acessado é seguro" id="pla3" name="pergunta1">
            <label for="pla3">Não verificar se o site acessado é seguro</label><br>

            <input type="checkbox" value=".Manter sempre atualizado aparelho" id="pla4" name="pergunta1">
            <label for="pla4">Manter sempre atualizado aparelho</label><br>

            <input type="checkbox" value="*Manter a mesma senha para varios apps  e contas" id="pla5" name="pergunta1">
            <label for="pla5">Manter a mesma senha para varios apps e contas</label><br>

            <input type="checkbox" value="* Manter senhas apenas em cadernos e blocos de notas" id="pla6" name="pergunta1"> 
            <label for="pla6">Manter senhas apenas em cadernos e blocos de notas</label><br>
        </form>
    </section>





    <section>
        <!--pergunta 4-->

        <h2>Pergunta 4:Por que não é seguro usar Wi-Fi público para acessar banco ou e-mail?</h2>
        <form>
            <input type="text" id="p4" name="pergunta 4" placeholder="Digite sua resposta">
        </form>
    </section>


    <section>
        <!--Pergunta 5-->

        <h2>Pergunta 5:Qual atitude ajuda a evitar cair em golpes por e-mail?</h2>
        <Form>

            <input type="radio" value="Clicar em links de promoções rápidas" id="al0" name="pergunta 5" >
            <label for="al0">Clicar em links de promoções rápidas</label><br>
            
            <input type="radio" value="Responder todo e-mail desconhecido" id="al1" name="pergunta5">
            <label for="al1"> e-mail desconhecido</label><br>
            
            <input type="radio" value="Verificar remetente e desconfiar de mensagens urgentes" id="al2" name="pergunta5">
            <label for="al2">Verificar remetente e desconfiar de mensagens urgentes</label><br>

            <input type="radio" value="Baixar anexos sem conferir" id="al3" name="pergunta5">
            <label for="al3">Baixar anexos sem conferir</label><br>

        </Form>
    </section>

<section>
<!--pergunta 6-->
    <h2>Pergunta 6: Qual é o risco de compartilhar muitas informações pessoais nas redes sociais?</h2>
    <form>
        <input type="radio" value="Python" id="p6.1" name="pergunta1">
        <label for="p6.1">Gastar muito tempo em redes sociais</label><br>
        <input type="radio" value="Java" id="pla1" name="pergunta1">
        <label for="pla1">Expor muito a vida pessoal</label><br>
        <input type="radio" value="Javascript" id="pla2" name="pergunta1">
        <label for="pla2">Gastar mais internet</label><br>
        <input type="radio" value="HTML" id="pla3" name="pergunta1">
        <label for="pla1">Facilitar a aplicação de golpes de engenharia social</label><br>
        <input type="radio" value="Ruby" id="pla4" name="pergunta1">
        <label for="pla1">Ganhar haters</label>
    </form>
</section>


<section>
<!--pergunta 7-->
    <h2>Pergunta 7: O que significa 2FA (ou autenticação em dois fatores)?</h2>
    
        <input type="radio" value="Duas senhas iguais para cada conta" id="p6.1" name="pergunta7">
        <label for="p6.1">Duas senhas iguais para cada conta</label><br>

        <input type="radio" value="Senha + uma segunda verificação, como código no celular" id="pla1" name="pergunta1">
        <label for="pla1">Senha + uma segunda verificação, como código no celular</label><br>

        <input type="radio" value="Senha trocada a cada 2 dias" id="pla2" name="pergunta1">
        <label for="pla2">Senha trocada a cada 2 dias</label><br>

        <input type="radio" value=" Um antivírus especial" id="pla3" name="pergunta1">
        <label for="pla1"> Um antivírus especial</label><br>
        
    </foQuais>
</section>




<section>
<!--pergunta 8-->
<h2>Pergunta 8:O que você deve fazer se receber um e-mail de um banco pedindo para clicar em um link e atualizar seus dados?</h2>
<form>

        <input type="radio" value="Clicar no link imediatamente para evitar o bloqueio da conta." id="p6.0" name="pergunta8">
        <label for="p6.0">Clicar no link imediatamente para evitar o bloqueio da conta</label><br>

        <input type="radio" value="Responder ao e-mail com seus dados bancários." id="p6.1" name="pergunta8">
        <label for="p6.1">Responder ao e-mail com seus dados bancários.</label><br>

        <input type="radio" value="Desconfiar, não clicar no link e entrar em contato com o banco pelos canais oficiais (telefone, site oficial)." id="p6.2" name="pergunta8">
        <label for="p6.2">Desconfiar, não clicar no link e entrar em contato com o banco pelos canais oficiais (telefone, site oficial).</label><br>

        <input type="radio" value="Encaminhar o e-mail para todos os seus contatos." id="p6.3" name="pergunta1">
        <label for="p6.3">Encaminhar o e-mail para todos os seus contatos.</label><br>     

</form>
</section>

<section>
<!--pergunta 9-->
<h2>Pergunta 9:O que é malware?</h2>
    <Form>
        <input type="text" value="digite sua resposta" id="p9"> 
    </Form>
</section>

<!--7. O que significa “pretexting” (pretexto) em golpes digitais?
a) Fingir ser alguém para ganhar confiança 
b) Usar vírus para invadir computadores
c) Instalar programas de espionagem
d) Roubar senhas pelo Wi-Fi-->



<section>
<!--pergunta 10-->
<h2>Pergunta 10:O que significa “pretexting” (pretexto) em golpes digitais?</h2>
<form>

        <input type="radio" value=" Fingir ser alguém para ganhar confiança " id="p6.0" name="pergunta8">
        <label for="p6.0"> Fingir ser alguém para ganhar confiança </label><br>

        <input type="radio" value=" Usar vírus para invadir computadores" id="p6.1" name="pergunta8">
        <label for="p6.1"> Usar vírus para invadir computadores.</label><br>

        <input type="radio" value=".Instalar programas de espionagem" id="p6.2" name="pergunta8">
        <label for="p6.2">Instalar programas de espionagem.</label><br>

        <input type="radio" value=" Roubar senhas pelo Wi-Fi" id="p6.3" name="pergunta1">
        <label for="p6.3"> Roubar senhas pelo Wi-Fi.</label><br>     

</form>
</section>

<section>
<!--pergunta 11-->
<h2>PERGUNTA EXTRA 11:Quais destas frases é um sinal comum de um golpe de Engenharia Social</h2>
<form>

        <input type="checkbox" value=" Fingir ser alguém para ganhar confiança " id="p6.0" name="pergunta8">
        <label for="p6.0">"Olá seu cartão foi clonado clique aqui para mais informações."</label><br>

        <input type="checkbox" value=" Usar vírus para invadir computadores" id="p6.1" name="pergunta8">
        <label for="p6.1">"Você ganhou um prêmio incrível! Clique aqui para resgatar"."</label><br>

        <input type="checkbox" value=".Instalar programas de espionagem" id="p6.2" name="pergunta8">
        <label for="p6.2">"Voce está com virus no aparelho baixe esse app."</label><br>

        <input type="checkbox" value="Um numero diferente com a foto de um amigo ou familiar passando a mensagem:Passa um pix para mim" id="p6.3" name="pergunta1">
        <label for="p6.3">Um numero diferente com a foto de um amigo ou familiar passando a mensagem  "Passa um pix para mim."</label><br>     

</form>
</section>

</body>

</html>